body {
  margin: 0 !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container-fluid{
  padding: 0 !important;
}

.bg-holder{
  height: calc(100vh - 60px) !important;
 background: url("http://localhost:3000/img/classroom2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
}

.vertical-align{
  min-height: calc(100vh - 60px) !important;
  display: flex;
  align-items: center;
}

.white-text{
  color: #fff !important;
}
.jumbotron{
  background: none !important;
}